html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.screen {
  padding: 15px;
  max-width: 1800px;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background: url(../images/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  align-items: center;
}
.header__container {
  box-sizing: border-box;
  width: 100%;
  min-height: 68vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__wrapper {
  box-sizing: border-box;
  min-height: 341px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header__content-wrapper {
  min-height: 187px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 76px;
}
.header__title {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54%;
  letter-spacing: 4.8px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 15px;
}
.header__paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 118%;
  color: #ffffff;
  letter-spacing: 6.82px;
}

.form {
  display: flex;
  max-width: 653px;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.form:hover {
  transform: scale(1.1);
}
.form__input {
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 2.8px;
  width: 100%;
  min-height: 63px;
  transition: all 0.3s ease 0s;
}
.form__input:focus {
  border: 3px dashed #333333;
}
.form__button {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 186%;
  background: #5474fd;
  border: none;
  max-width: 153px;
  width: 100%;
  min-height: 63px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.form__button:active:focus {
  background: #e8e8e8;
  color: #333333;
}
.form__button:hover {
  background: #e8e8e8;
  color: #333333;
}

.fa-search {
  padding-left: 10px;
}

.scrolldown {
  min-width: 108px;
  min-height: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  line-height: 186%;
  letter-spacing: 2.8px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.scrolldown:hover {
  transform: scale(1.5);
}
.scrolldown:active:focus {
  background-color: #e8e8e8;
  min-width: 108px;
}

.navbar__container {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5474fd;
  width: 100%;
  color: #ffffff;
}

.navbar {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 83px;
  max-width: 1121px;
  width: 100%;
  color: #fff;
}
.navbar__links {
  display: flex;
}
.navbar__logo {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 108%;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.navbar__item-toggle {
  display: none;
}

.main-navbar {
  display: flex;
  margin-left: auto;
}

.navbar__item {
  padding-left: 40px;
  list-style: none;
  transition: all 0.3s ease 0s;
}
.navbar__item:last-of-type {
  padding-right: 0;
}
.navbar__item:first-of-type {
  padding-left: 0;
  margin-left: 0;
}
.navbar__item:hover {
  transform: scale(1.1);
}
.navbar__item:active:focus {
  text-decoration: underline;
}

.navbar__link {
  text-decoration: none;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 186%;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1771px;
  width: 100%;
  min-height: 100%;
}

.title {
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 72%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.subheading {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 1.5px;
}

.title__small {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 130%;
  text-transform: uppercase;
}

.paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  color: #e8e8e8;
}

.paragraph--why {
  letter-spacing: 1.6px;
}

.button {
  max-width: 228px;
  min-height: 63px;
  width: 100%;
  background: linear-gradient(50deg, #496BFE 40%, #5474fd 40%);
  border: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Aleo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease 0s;
}
.button:active:focus {
  background: #e8e8e8;
  color: #333333;
}
.button:hover {
  transform: scale(1.1);
  background: #e8e8e8;
  color: #333333;
}

.why {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  background: url(../images/why.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.why__content {
  box-sizing: content-box;
  max-width: 543px;
  min-height: 374px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  top: 30px;
}

.why__wrapper {
  max-width: 1110px;
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.why__images {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 440px;
  height: 450px;
}

.why__images1 {
  position: relative;
  bottom: 10px;
  max-width: 350px;
  max-height: 220px;
}

.why__images2 {
  position: relative;
  max-width: 350px;
  max-height: 220px;
  left: 90px;
}

.works {
  min-height: 340px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__icons {
  height: auto;
}

.travel-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.travel {
  min-height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/house.png);
  display: flex;
  align-items: center;
}

.travel2 {
  min-height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/sunset.png);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.travel__infobox {
  max-width: 543px;
  min-height: 374px;
  background: #232323;
  opacity: 0.9;
  position: relative;
  left: 328px;
  top: 50px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.travel__infobox--left {
  position: relative;
  left: -328px;
}

.testimonial {
  min-height: 731px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/testimonial.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial__wrapper {
  max-width: 1110px;
  min-height: 404px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial__box {
  max-width: 1110px;
  min-height: 287px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #333333;
}

.testimonial__content {
  max-width: 581px;
  min-height: 199px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonial__text {
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162%;
  color: #e8e8e8;
}

.fa-quote-left {
  color: #5474fd;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 72%;
  padding-right: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 271px;
  background: #232323;
}

.footer__wrapper {
  min-height: 91px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-content__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 108%;
  display: flex;
  align-items: center;
  letter-spacing: 3.36px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-content__text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1.6px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer__some {
  display: flex;
  justify-content: space-between;
  min-width: 166px;
}

.fab {
  color: #ffffff;
  transition: all 0.5s ease 0s;
}
.fab:hover {
  color: #5474fd;
  transform: scale(1.2);
}
.fab:active {
  color: #333333;
}

@media only screen and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-navbar,
.navbar {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .navbar__logo {
    font-size: 20px;
    margin-left: 20px;
  }

  .main-navbar {
    display: none;
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
  }

  .navbar__item {
    padding-left: 0;
    list-style: none;
  }

  .navbar__toggleShow {
    display: flex;
    margin-left: 20px;
  }

  .navbar__item-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    right: 40px;
  }

  .form {
    display: flex;
    max-width: 70%;
    min-height: 130px;
    justify-content: space-between;
    align-items: center;
    background-color: none;
  }

  .why {
    min-height: 100vh;
  }

  .why__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .why__images {
    display: none;
  }

  .travel {
    min-height: 100vh;
  }

  .travel2 {
    min-height: 100vh;
  }

  .travel__infobox {
    position: relative;
    left: 0;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .travel__infobox--left {
    position: relative;
    left: 0;
  }

  .testimonial {
    min-height: 100vh;
  }

  .testimonial__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
  }

  .testimonial__box {
    max-width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .testimonial__content {
    padding: 30px;
  }
}
@media only screen and (max-device-width: 768px) and (-webkit-min-device-pixel-ratio: 3) {
  .navbar__item {
    padding-bottom: 10px;
    padding-left: 0;
    list-style: none;
  }
  .navbar__item:last-of-type {
    padding-bottom: 0px;
  }

  .header__container {
    min-height: 68vh;
  }

  .header__wrapper {
    min-height: 80vh;
    justify-content: space-around;
  }

  .header__content-wrapper {
    min-height: 35vh;
  }

  .form {
    display: flex;
    max-width: 80%;
    min-height: 130px;
    /* height: 100%; */
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    background-color: none;
  }
  .form__input {
    width: 100%;
    max-height: 63px;
    height: 100%;
    font-size: 12px;
  }

  .header__title {
    font-size: 38px;
    padding-top: 0;
  }

  .header__paragraph {
    font-size: 16px;
  }

  .why__content {
    max-width: 80vw;
    min-height: 80vh;
  }
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait and Landscape */
@media only screen and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .screen {
    padding: 0;
  }

  .navbar__logo {
    display: none;
  }

  .title {
    font-size: 26px;
  }

  .paragraph {
    font-size: 14px;
  }

  .pargraph--why {
    font-size: 14px;
  }

  .header__container {
    min-height: 68vh;
  }

  .header__wrapper {
    min-height: 80vh;
    justify-content: center;
  }

  .header__content-wrapper {
    min-height: 50vh;
    justify-content: space-evenly;
  }

  .form {
    display: flex;
    max-width: 80%;
    min-height: 130px;
    /* height: 100%; */
    flex-direction: column !important;
    justify-content: space-between;
    align-items: center;
    background-color: none;
  }
  .form__input {
    width: 100%;
    max-height: 63px;
    height: 100%;
    font-size: 9px;
  }

  .why__content {
    max-width: 80vw;
    min-height: 80vh;
  }

  .form__button {
    font-size: 14px;
  }

  .header__title {
    font-size: 38px;
    padding-top: 0;
  }

  .header__paragraph {
    font-size: 16px;
  }

  .testimonial__text {
    font-size: 0.8em;
    padding: 0 15px;
  }
}

/*# sourceMappingURL=index.css.map */
